*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body,html{
    width:100%;
    height:100%;
}

#main{
    display: flex;
    width:100%;
    height:100%;
    background-color: #fff;
}

#left {
    position: relative;
    width:50%;
    height:100%;
    background-color: #fff;;
}
#photo {
position: relative;
    width:80%;
    height:70%;
    position: absolute;
    background-image:url(https://images.unsplash.com/photo-1663488911991-85e675628bc7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80);
    background-size:cover ;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
#rect1{
    height:70%;
    width:40px;
position:relative;
top:30%;
left:0;
background-color: orangered;
transform: translate(-50%,-20%);

}
#text{
    display: flex;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)rotate(-90deg);
    align-items: center;
    font-size: 10px;
    font-weight: lighter;
    font-family: "Gilroy";

}
#text h1{
    position: absolute;
    font-size: 20px;
    font-weight: lighter;
    font-family:"Gilroy" ;
    color: #fff;
}
#text #line{
    height: 25px;
    width:4px;
    position: absolute;
    border: 1px solid #fff;
    background-color: #fff;
    margin-left: 20px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) rotate(-90deg);
}

#rect2{
    position: absolute;
    height:20%;
    width:50px;
    top:80%;
    right:0;
    transform:translate(50%,0%);
    background-color:orangered ;

}
#right{
    position :relative;
    height:100%;
    width:50%;
    background-color: #fff;
}

#right #rtext{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#rtext #h1{
font-size:50px;
    line-height: 1;
}
#rtext p{
    margin-top:20px;
border-left: 5px solid rgb(167, 20, 145);
padding-left: 20px;

}

#right #link{
    display: flex;
    position: absolute                                                                                                      ;
    gap:30px;
    top:50%;
right:0%;
    transform:translate(90%,-50%) rotate(-90deg);
}
#link a{
     text-decoration:none;
font-size: 20px;
font-weight: 600px;
font-family:"Gilroy" ;
color:black;
}