*{
   margin:0;
   padding :0;
   box-sizing: border-box;
}
body,html{
    width:100%;
    height:100%;
}
#main{
    width:100%;
    height:100%;
    background-color: black;
}
#main #main1{
    display: flex;
    height:85%;
    width:85%;
    background-color: aliceblue;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#main1 #left{ 
    position: relative;
    width:50%;
    height:100%;
    background-image: url(https://images.unsplash.com/photo-1565992441121-4367c2967103?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1854&q=80);
    background-size: cover;
    background-position: center;
}
#left #nik{
display: flex;
    width:40px;
    height:100%;
    background-color: transparent;
}
#nik p{
    white-space: nowrap;
    font-size: 25px;
    font-weight: 400;
    color: rgb(231, 236, 237);
    position: absolute;
    top:5%;
    left:5%;
    font-family: "gilroy";
}

#nik i{
    position:absolute;
    top:5%;
    left:90%;
    color: #fff;
}

 #left1 h1{
    position:absolute;
    bottom:0%;
    right:5%;

 }

#main1 #right{
    position: relative;
    display: flex;
    width:50%;
    height:100%;
    background-color:rgb(149, 201, 221) ;
}

 #right h1{
    font-family: "voyage";
    position: absolute;
    color: black;
    top:30%;
    right:0%;
    transform: translate(30%,-50%) rotate(-90deg);
}
#right #ab{
position: absolute;
    width:150px;
    height:150px;
    background-image: url(https://images.unsplash.com/photo-1548182629-4c64b91b789d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1888&q=80);
    background-size: cover;
    background-position: center;
    top: 0;
    left:45%;
}
#right #bc{
    position: absolute;
    width:200px;
    height:300px;
    background-image: url(https://images.unsplash.com/photo-1551524559-ebd149166b2e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80);
    background-size: cover;
    background-position: center;
    top:30%;
    left:5%;
}

#right #cd{
    position: absolute;
    width:135px;
    height:150px;
    background-image:url(https://images.unsplash.com/photo-1613420365631-c588e7cac611?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80) ;   
    background-size: cover;
    background-position:bottom ;
    bottom:0;
    left:50%;
}

#right #de{
    width:150px;
    height:150px;
    border-radius:50%;
    background-color:transparent;
    border: 1px solid black;
    position: absolute;
    top:25%;
    left:60%;
}
#de p{
    font-size: medium;
    font-weight: 300;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}