*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;

}
#main{
    width:100%;
    height:100%;
    background-image: url(https://w0.peakpx.com/wallpaper/917/242/HD-wallpaper-john-wick-chapter-3-parabellum-2019-8k-john-wick-3-parabellum-john-wick-3-john-wick-chapter-3-movies-2019-movies-keanu-reeves.jpg);
    background-size: cover;
    background-position:bottom ;
}
#overlay{
    width:100%;
    height:100%;;
}

#text {
    width:50%;
    position: absolute;
color: #fff;
padding-left: 7%;
padding-top: 10%;
top:10%;
left:0%;
font-family: "gilroy";

}


#text h1{
    width:60%;
    height:40%;

}

#text p{
    width:40%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}

#text button {
    padding:10px 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color:transparent;
}

#text button:hover{
    color: rgba(255, 255, 255, 0.144);
}
#side{
    height:40%;
    width:13%;
    background-color: #fff;
    position: absolute;
    right:1%;
    top:1%;
    border-radius: 10px;
}
#side #top{
    color: aquamarine;
    height:60%;
    padding:20px;
    background-image: url(https://w0.peakpx.com/wallpaper/581/373/HD-wallpaper-john-wick-after-long-day-john-wick-keanu-reeves-movies-artist-artwork-digital-art-monochrome-black-and-white.jpg);
    background-size: cover;
    text-decoration-line: none;
}

    #top p{
margin-bottom:7px;
    }
    #side #bottom{
        background-image: url(https://w0.peakpx.com/wallpaper/222/77/HD-wallpaper-keanu-reeves-john-wick-chapter-2-john-wick-chapter-2-2017-movies-movies-keanu-reeves.jpg);
        background-size: cover;
        padding:40%;
         border-bottom-left-radius: 10%;
         border-bottom-right-radius: 10%;

    }
